ul.releases-menu-nav
  for item in menuItems
    li(class="releases-menu-item" data-js-menu-item-id='#{item.id}' latest='#{item.isLatest}')
      a.menu-item-link(href='/releases/#{item.link}') Version #{item.name}
      p.published-info #{item.publishedDate} #{item.isLatest ? ', Latest' : ''}
