.integrate-section(data-js-integrate )
  .section-container
    .text-container
      h2.text-margins 3. Integrate  ReportPortal with your test framework
      .text.text-margins
        img(src=require("./img/scheme-small.png"))
      .text-margins.text
        a(href='', data-js-scheme) View extended scheme of integration
      .frameworks.text
        p.text-margins Choose needed integration by language:
        p.h3
          span JAVA
        ul
          li
            a(href='https://github.com/reportportal/agent-java-testNG',data-js-new-window)
              img(src=require("./img/TestNG.png"))
          li
            a(href='https://github.com/reportportal/agent-java-junit',data-js-new-window)
              img(src=require("./img/JUnit.png"))
          li
            a(href='https://github.com/reportportal/agent-java-spock',data-js-new-window)
              img(src=require("./img/Spock.png"))
          li
            a(href='https://github.com/reportportal/agent-java-soapui',data-js-new-window)
              img(src=require("./img/SoapUI.png"))
          li
            a(href='https://github.com/reportportal/agent-java-jbehave',data-js-new-window)
              img(src=require("./img/jbehave.png"))
          li
            a(href='https://github.com/reportportal/agent-readyapi',data-js-new-window)
              img(src=require("./img/ReadyAPI.png"))
          li
            a(href='https://github.com/reportportal/agent-scala-scalatest',data-js-new-window)
              img(src=require("./img/ScalaTest.png"))
          li
            a(href='https://github.com/reportportal/agent-java-junit5',data-js-new-window)
              img(src=require("./img/JUnit5.png"))
          li
            a(href='https://github.com/reportportal/agent-java-cucumber',data-js-new-window)
              img(src=require("./img/cucumber.png"))
          li
            a(href='https://bintray.com/epam/reportportal/agent-java-cucumber2',data-js-new-window)
              span.badge.contributor from contributor
              img(src=require("./img/cucumber2.png"))
          li
            a(href='https://github.com/Invictum/serenity-reportportal-integration',data-js-new-window)
              span.badge.contributor from contributor
              img(src=require("./img/Serenity.svg"))
          li
            a(href='https://github.com/reportportal/agent-java-karate',data-js-new-window)
              img(src=require("./img/karate.svg"))
          li
            a(href='https://github.com/Arpit-Shah/reportportal-client',data-js-new-window)
              span.badge.contributor from contributor
              img(src=require("./img/artos.svg"))
        p.h3
          span .NET
        ul
          li
            a(href='https://github.com/reportportal/agent-net-specflow',data-js-new-window)
              img(src=require("./img/specflow.png"))
          li
            a(href='https://github.com/reportportal/agent-net-nunit',data-js-new-window)
              img(src=require("./img/nunit.png"))
          li
            a(href='https://github.com/reportportal/agent-net-vstest',data-js-new-window)
              img(src=require("./img/Vstest.png"))
          li
            a(href='https://github.com/reportportal/agent-net-xunit',data-js-new-window)
              img(src=require("./img/xUnit.png"))

        p.h3
          span JavaScript
        ul
          li
            a(href='https://github.com/reportportal/agent-js-cucumber',data-js-new-window)
              img(src=require("./img/cucumber.png"))
          li
            a(href='https://github.com/reportportal/agent-js-jasmine',data-js-new-window)
              img(src=require("./img/jusmine.png"))
          li
            a(href='https://github.com/reportportal/agent-js-mocha',data-js-new-window)
              img(src=require("./img/mocha.png"))
          li
            a(href='https://github.com/fedoseev-vitaliy/mocha-rp-reporter',data-js-new-window)
              span.badge.contributor from contributor
              img(src=require("./img/MochaContribute.png"))
          li
            a(href='https://github.com/reportportal/agent-js-nightwatch',data-js-new-window)
              span.badge.contributor from contributor
              img(src=require("./img/Nightwatch.png"))
          li
            a(href='https://github.com/BorisOsipov/wdio-reportportal-reporter', data-js-new-window)
              span.badge.contributor from contributor
              img(src=require("./img/webdriverio.png"))
          li
            a(href='https://github.com/reportportal/agent-js-jest', data-js-new-window)
              span.badge.contributor from contributor
              img(src=require("./img/jest.png"))
        p.h3
          span Python
        ul
          li
            a(href='https://github.com/reportportal/agent-python-pytest',data-js-new-window)
              img(src=require("./img/pytest.png"))
          li
            a(href='https://github.com/reportportal/agent-Python-RobotFramework',data-js-new-window)
              img(src=require("./img/Robotframework.png"))
          li
            a(href='https://github.com/reportportal/agent-python-behave',data-js-new-window)
              span.badge.contributor from contributor
              img(src=require("./img/PythonBehave.svg"))
          li
            a(href='https://github.com/reportportal/agent-python-nosetests',data-js-new-window)
              span.badge.contributor from contributor
              img(src=require("./img/PythonNoseTests.png"))

        p.h3
          span Php
        ul
          li
            a(href='https://github.com/reportportal/agent-php-Behat',data-js-new-window)
              span.badge.contributor from contributor
              img(src=require("./img/behat.png"))
          li
            a(href='https://github.com/reportportal/agent-php-PHPUnit',data-js-new-window)
              span.badge.contributor from contributor
              img(src=require("./img/PHPUnit.png"))
          li
            a(href='https://github.com/reportportal/agent-php-Codeception',data-js-new-window)
              span.badge.contributor from contributor
              img(src=require("./img/codeception.png"))
        p.h3
          span other
        ul
          li
            a(href='https://github.com/reportportal/agent-silktest',data-js-new-window)
              img(src=require("./img/silktest.png"))
          li
            a(href='https://github.com/reportportal/agent-swift-XCTest',data-js-new-window)
              span.badge.contributor from contributor
              img(src=require("./img/XCTest.png"))
          li
            a(href='https://github.com/reportportal/agent-ruby',data-js-new-window)
              img(src=require("./img/Ruby.png"))
          li
            a(href='https://github.com/reportportal/agent-net-gauge',data-js-new-window)
              img(src=require("./img/gauge.png"))
        p.text-margins If there is not an integration with your test framework, you can make it on your own.<br>
          a.hide(herf='',data-js-new-window) How to make new integration
        p.text-margins Please don’t forget to share your integration. We really appreciate your contribution to ReportPortal development. Examples of contributions you can find at&nbsp;
          a(href='https://github.com/reportportal/reportportal#contribution',data-js-new-window) Github page
  .slack-block
    .section-container
      p.text
        span Still have questions on ‘Getting started’?
        span &nbsp;Chat with us in slack channel
        a(href='https://reportportal-slack-auto.herokuapp.com/',data-js-new-window) Chat in Slack
