.integrate-section(data-js-integrate)
  .section-container
    .instruction
      h2 4. Integrate  ReportPortal with your test framework
      .step
        img(src=require("./img/scheme-small.png"))
        a.show-scheme(href='',data-js-scheme) View extended scheme of integration
        p.main-text Choose needed integration by language:
        .frameworks
          p.h3
            span JAVA
          ul
            li
              a(href='https://github.com/reportportal/agent-java-testNG',target='_blank')
                img(src=require("./img/TestNG.png"))
            li
              a(href='https://github.com/reportportal/agent-java-junit',target='_blank')
                img(src=require("./img/JUnit.png"))
            li
              a(href='https://github.com/reportportal/agent-java-spock',target='_blank')
                img(src=require("./img/Spock.png"))
            li
              a(href='https://github.com/reportportal/agent-java-soapui',target='_blank')
                img(src=require("./img/SoapUI.png"))
            li
              a(href='https://github.com/reportportal/agent-java-jbehave',target='_blank')
                img(src=require("./img/jbehave.png"))
            li
              a(href='https://github.com/reportportal/agent-readyapi',target='_blank')
                img(src=require("./img/ReadyAPI.png"))
            li
              a(href='https://github.com/reportportal/agent-scala-scalatest',target='_blank')
                img(src=require("./img/ScalaTest.png"))
          p.h3
            span .NET
          ul
            li
              a(href='https://github.com/reportportal/agent-net-specflow',target='_target')
                img(src=require("./img/specflow.png"))
            li
              a(href='https://github.com/reportportal/agent-net-nunit',target='_blank')
                img(src=require("./img/nunit.png"))
            li
              a(href='https://github.com/reportportal/agent-net-vstest',target='_blank')
                img(src=require("./img/Vstest.png"))
            li
              a(href='https://github.com/reportportal/agent-net-xunit',target='_blank')
                img(src=require("./img/xUnit.png"))

          p.h3
            span JavaScript
          ul
            li
              a(href='https://github.com/reportportal/agent-js-cucumber',target='_blank')
                img(src=require("./img/cucumber.png"))
            li
              a(href='https://github.com/reportportal/agent-js-jasmine',target='_blank')
                img(src=require("./img/jusmine.png"))
            li
              a(href='https://github.com/reportportal/agent-js-mocha',target='_blank')
                img(src=require("./img/mocha.png"))

          p.h3
            span Pytone
          ul
            li
              a(href='https://github.com/reportportal/agent-python-pytest',target='_blank')
                img(src=require("./img/pytest.png"))
            li
              a(href='https://github.com/reportportal/agent-Python-RobotFramework',target='_blank')
                img(src=require("./img/Robotframework.png"))

          p.h3
            span other
          ul
            li
              a(href='https://github.com/reportportal/agent-php-Behat',target='_blank')
                img(src=require("./img/behat.png"))
            li
              a(href='https://github.com/reportportal/agent-silktest',target='_blank')
                img(src=require("./img/silktest.png"))
        p.main-text If there is not an integration with your test framework, you can make it on your own&nbsp;
          a(herf='',target='_blank') How to make new integration
        p.main-text Please, don’t forget to share your integration. We really appreciate your contribution to ReportPortal development. Examples of contributions you can find at&nbsp;
          a(href='https://github.com/reportportal/reportportal#contribution',target='_blank') Github page
.slack-block
  .section-container
    p
      span Still have questions on ‘Getting started’?
      span Chat with us in slack channel
      a(href='https://reportportal-slack-auto.herokuapp.com/',target='_blank') Chat in Slack
