.section-container
  p.h1 Features full of benefits for your team
  .feature-list
    .feature.feature-1
      img(src=require("./img/manage-all.svg"), alt="Report Portal: Manage all your automation results and reports  in one place")
      h2 Manage all your automation results and reports  in one place
      p Achieve full automation visibility in real-time by centralizing and aggregating all logs, reports and media data for indisputable evidence.
    .feature.feature-2
      img(src=require("./img/make-automation.svg"), alt="Report Portal: Make automation results analysis actionable & collaborative")
      h2 Make automation results analysis actionable & collaborative
      p Collaborate with your team members to associate each failed test with a known product bug, automation issue, system issue or other custom defect type.
    .feature.feature-3
      img(src=require("./img/establish.svg"), alt="Report Portal: Establish fast traceability with defect management")
      h2 Establish fast traceability with defect management
      p Submit and track defects with full evidence (logs, screenshots, comments, etc.) directly from a failed test case into a bug tracking system.
    .feature.feature-4
      img(src=require("./img/accelerate.svg"), alt="Report Portal: Accelerate routine results analysis")
      h2 Accelerate routine results analysis
      p Use the collected history of executions and fail patterns to achieve hands-free analysis of your latest results.
    .feature.feature-5
      img(src=require("./img/visualize.svg"), alt="Report Portal: Visualize metrics and analytics")
      h2 Visualize metrics and analytics
      p Build custom dashboards and metrics to learn from the past and predict trends.
    .feature.feature-6
      img(src=require("./img/make-smarter.svg"), alt="Report Portal: Make smarter decisions together")
      h2 Make smarter decisions together
      p Use ReportPortal’s collaborative test automation environment with your team to improve your delivery quality.
  a.more-btn(href="/features" target="_blank") See more features
